<div class="my">
  <div class="my-top" >
      <div class="top-box"><p>还未登录哦</p>
          <i class="iconfont icon-down-trangle1">
            </i>
        </div>
  </div>
  <div class="my-box">
    <div class="main"></div><span class="iconfont icon-iconwodeyemian"></span>
  </div>
  <div class="my-box">
      <div class="main"></div><span class="iconfont icon-fujin"></span>
  </div>
  <div class="my-box">
      <div class="main"></div><span class="iconfont icon-jiantou-copy-copy"></span>
  </div>
  <div class="my-box">
      <div class="main"></div><span class="iconfont icon-mima"></span>
  </div>
</div>