<div class="box">
    <div class="carousel slide c-box" data-ride="carousel" id="mycarousel">
       
        <ol class="carousel-indicators">
          <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
          <li data-target="#mycarousel" data-slide-to="1"></li>
          <li data-target="#mycarousel" data-slide-to="2"></li>
          <li data-target="#mycarousel" data-slide-to="3"></li>
        </ol>
        
        <div class="carousel-inner">
           <div class="item active">
             <img src="http://cdnssl.youyuwei.com/o_1ba4oj1qu2s8gku1lof1mpin8k9.jpg" alt="" class="slide-img">
           </div>
          <div class="item ">
            <img src="http://cdnssl.youyuwei.com/o_1bbnll5nkngq15501dl3d7d1fgk9.jpg" alt="" class="slide-img">
            
          </div>
          <div class="item ">
              <img src="http://cdnssl.youyuwei.com/o_1bbkpisu1sts132p1h0k9d21bcd9.jpg" alt="" class="slide-img">
          </div>
          <div class="item ">
              <img src="http://cdnssl.youyuwei.com/o_1bb5obsqebmdd9eul4168o1g3q9.jpg" alt="" class="slide-img">
          </div>
        </div>
      </div>

      <div class="sea">
          <div class="sea_con">
                <i class="iconfont icon-fangdajing"></i>
                <span>搜索全球热门目的地</span>
          </div>
      </div>

      <div class="res">
          <div class="res_con">
              <img src="http://cdnssl.youyuwei.com/new_app_baodian_mql1.jpg" alt="">
              <img src="http://cdnssl.youyuwei.com/new_app_baodian_zc1.jpg" alt="">
          </div>
      </div>

      <div class="recommend">
          <div class="recoL">
                <i class="iconfont icon-yu"></i>
                <p>暴躁的...</p>
          </div>
          <div class="recoC">
                <h3>推荐了沈阳的久满料亭</h3>
                <p>正宗日本料理 高性价比 需预定</p>
                <div class="recoimg">
                    <img src="http://cdnssl.youyuwei.com/6180114dd35fc67a530ab83747b5da3d600550.jpg" alt="">
                    <img src="http://cdnssl.youyuwei.com/a52bacd5287e0eca87294cb12f7ebbf9279082.jpg" alt="">
                    <img src="http://cdnssl.youyuwei.com/45bde8ec8449c3e54492df724dfdbedc62992.jpg" alt="">
                </div>
          </div>
          <div class="recoR">
                <i class="iconfont icon-jiantou-copy-copy"></i>
          </div>
      </div>

      <div class="line"></div>

      <div class="rem">
    
        <div class="remL">
            <img src="http://cdnssl.youyuwei.com/o_1b8c1oqll14m71f5e5cj1aoi1ego9.jpg" alt="">
        </div>
        <div class="remR">
            <div class="remR_left">
                <h2>推荐你念念不忘的餐厅</h2>
                <p>美味就是要分享</p>
            </div>
            <div class="remR_rgt">
                <span>推荐入口</span>
            </div>
        </div>
         
      </div>

      <div class="line"></div>

      <div class="conHead"><h1>-向你推荐-</h1></div>

      <div class="newYork">
          <img src="http://cdnssl.youyuwei.com/o_1a01ieom01ck21egtnfv15pkihk9.jpg" alt="">
      </div>

      <div class="icon_list">
          <div>
              <img src="http://cdnssl.youyuwei.com/o_1b4vqgkif1m221i63r3p33r1trb9.png" alt="">
              <p>西餐</p>
          </div>
          <div>
              <img src="http://cdnssl.youyuwei.com/o_1b4vqkm3m1km21re1rki1ig8nt9.png" alt="">
              <p>当地菜</p>
          </div>
          <div>
            <img src="http://cdnssl.youyuwei.com/o_1b4vqdhf71l20vbe28eppm1ds19.png" alt="">
            <p>咖啡馆</p>
          </div>
          <div>
            <img src="http://cdnssl.youyuwei.com/o_1b4vqegr335r18091da9l3n8rd9.png" alt="">
            <p>米其林</p>
          </div>
      </div>

      <div class="conList">
          <div class="conLine"></div>
          <img src="http://cdnssl.youyuwei.com/13e07c83ec1307aa77ecab386088c6ff54163.jpg" alt="">
            <div class="con">
                <div class="conL">
                   <div class="img"> <img src="http://cdnssl.youyuwei.com/o_1b7c7efo8cbf7mp1hvs1j811qi59.jpeg" alt=""></div>
                   <p>凡叶</p>
                </div>
                <div class="conR">
                    <h3>新西兰的Madam Woo</h3>
                    <p>听说北岸开了一家洋式的马来西亚餐厅，很有特点。在新西兰好多地方，比如说皇后镇也有分店。</p>
                </div>
            </div>
      </div>

      <div class="conList">
            <div class="conLine"></div>
            <img src="http://cdnssl.youyuwei.com/o_1bcmvf22dnid16sf127i1q661peu7.jpg" alt="">
              <div class="con">
                  <div class="conL">
                     <div class="img"> <img src="http://cdn.youyuwei.com/f7f857b9ca52f5de501873b9aae17fc8636668.jpg" alt=""></div>
                     <p>摄影</p>
                  </div>
                  <div class="conR">
                      <h3>西餐中的一股清流——华梅西餐厅</h3>
                      <p>提起西餐，大多数人的第一反应是精致，浪漫，华丽，却有点吃不饱。</p>
                  </div>
              </div>
        </div>

        <div class="conList">
            <div class="conLine"></div>
            <img src="http://cdnssl.youyuwei.com/e6f1719137926cd58dc1cafd54f9f603268991.jpg" alt="">
                <div class="con">
                    <div class="conL">
                        <div class="img"> <img src="http://cdnssl.youyuwei.com/6a24898968f4830751083942a4996d58736163.jpg" alt=""></div>
                        <p>提拉米苏</p>
                    </div>
                    <div class="conR">
                        <h3>南昌市盛宴标帜餐厅分享</h3>
                        <p>在这里提一下餐厅的服务吧，总而言之就是：热情、周到。</p>
                    </div>
                </div>
        </div>

        <div class="conList">
            <div class="conLine"></div>
            <img src="http://cdnssl.youyuwei.com/o_1bc9s5ii9n5ofms1uii19joa8ff.jpg" alt="">
                <div class="con">
                    <div class="conL">
                        <div class="img"> <img src="http://cdn.youyuwei.com/5b935617d37587ef77f2a85f881c64f7196931.jpg" alt=""></div>
                        <p>小樽</p>
                    </div>
                    <div class="conR">
                        <h3>你不知道的大西安美食</h3>
                        <p>先给大家讲一部分，如果想知道，其他的可以来找我。</p>
                    </div>
                </div>
        </div>
</div>
