<div class="storebox">
    <header class="localhead navbar  navbar-fixed-top">
      <a class="navbar-brand" href="/angular/layout/local" id="left" >
       <i class="iconfont icon-fanhui1"></i>
      </a>
    <span class=" localtitle">{{item.name}}</span>
    </header>
    <div class="local-detail-content">
        <div class="local-head">
            <img src="{{item.cover}}">
        </div>
        <div class="local-detail-address">
            <p>{{item.address}}</p>
            <i class=" iconfont icon-dizhi  local-icon" id="addressicon"></i>
        </div>

    </div>
    <div class="local-detail-line"></div>
    <div class="local-detali-about">
        <p class="lcoal-detail-price"><span><i class="iconfont icon-guihuachaxun local-icon"></i></span><span>{{item.cost}}</span></p>
        <p class="lcoal-detail-time"><span><i class="iconfont icon-shizhongfill local-icon"></i></span><span>{{item.open_time}}</span></p>
        <p class="local-detail-photo"><span><i class="iconfont icon-iconfontdianhua2 local-icon"></i></span><span>{{item.phone}}</span></p>
    </div>
    <div class="local-detail-line"></div>
    <div class="local-detail-reRes">
        <p><span class="lcoal-desc-line"></span>  推荐理由</p>
            {{item.desc}}
    </div>
    <div class="lcoal-end">
            <img src="http://i3.meishichina.com/attachment/recipe/201109/201109131540291.jpg@!p800" alt="">
            <p class="local-desc-title">老藕排骨汤</p>
            <p>浓缩的荆楚文化的精华的汤中佳品</p>
            <img src="http://qcloud.dpfile.com/pc/0P9U-0z2LFr6qslBsz5gKeebAjK4YjnIqfg3EqiTRztjRCRX_cVL81Spz4gYtEprTYGVDmosZWTLal1WbWRW3A.jpg">
            <p class="local-desc-title">现点豆腐</p>
            <p>豆腐得味 ，远胜燕窝</p>
    </div>
</div>